<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="home" size="large" color="danger"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-logout></app-logout>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <ion-row class="ion-align-items-center" style="height: 100%;">
    <ion-col class="ion-text-center">
      <ion-icon *ngIf="!watch" (click)="startWatch();" style="font-size: 64px;" name="lock-closed"></ion-icon>
      <ion-icon *ngIf="watch" (click)="stopWatch();" style="font-size: 64px;" name="lock-open"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-text>X: {{x | number: '1.2-2'}}</ion-text><br>
  <ion-text>Y: {{y | number: '1.2-2'}}</ion-text><br>
  <ion-text>Z: {{z | number: '1.2-2'}}</ion-text>
</ion-content>