<ion-content>
  <div id="container" style="height: 100%;">
    <ion-grid style="height: 100%;">
      <ion-row class="ion-justify-content-center" style="height:20%">
        <ion-col class="ion-align-self-center ion-text-center">
          <ion-text color="dark">Gustavo Casas</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="height:60%">
        <ion-col class="ion-align-self-center">
          <ion-img src="./assets/img/icon.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="height:20%">
        <ion-col class="ion-align-self-center ion-text-center">
          <ion-text color="dark">4 A</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>