<ion-content>
  <div id="container" style="height: 100%;">
    <ion-grid style="height: 100%;">
      <ion-row class="ion-justify-content-center" style="height:20%">
        <ion-col class="ion-align-self-center ion-text-center">
          <ion-text class="title" color="dark">Gustavo Casas</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="height:60%">
        <ion-col class="">
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center">
              <img class="splash" src="./assets/img/icon.png" style="width:256px;" />
            </ion-col>
          </ion-row>

          <ion-row class="ion-text-center">
            <ion-col class="ion-text-center">
              <img class="logo ion-text-center" src="./assets/img/logo.png" style="width: 20px;" />
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center" style="height:20%">
        <ion-col class="ion-align-self-center ion-text-center">
          <ion-text color="dark" (click)="stop()">4 A</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>